<h4 style="margin-top: 15px">{{ title }}</h4>
<h5>Movie Details</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">Id</label>
       <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="copyrightInput">Rank</label>
       <input class="u-full-width" type="text" id="copyright" value="{{ rank }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="editionInput">Descripcion</label>
       <input class="u-full-width" type="text" id="edition" value="{{ description }}" readonly/>
    </div>
    <div class="six columns">
       <label for="editionInput">Director</label>
       <input class="u-full-width" type="text" id="edition" value="{{ Director }}" readonly/>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
       <label for="editionInput">Idioma</label>
       <input class="u-full-width" type="text" id="edition" value="{{ Idioma }}" readonly/>
    </div>
  </div>
</form>
